@{
    ViewData["Title"] = "Products page";
}

@section scripts{ 

}

<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
</div>